
<div>
    <img  src="https://drive.google.com/uc?export=view&id=1FrIT_PAYstpBZ_XyupytyYuU2IV7UKiY" alt="SSEFinder logo" width="100%" height="150">
</div>    
<div style="text-align:left; margin-left:35%">
    <h1><u> Adding New Event for Case Number {{caseNumber}}... </u></h1>
    <div>Venue Name: {{eventVenue}}</div>
    <div>Venue X Coordinetes: {{eventX}}</div>
    <div>Venue Y Coordinetes: {{eventY}}</div>
    <div>Event Address: {{eventAddress}}</div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input font-size=30px onMouseOver="this.style.background='#E8E4E5'" onMouseOut="this.style.background='transparent'" style="float:left; border-radius:15px; background: transparent" type="submit" name="more" value="Save and Add More">
            <input font-size=30px onMouseOver="this.style.background='#E8E4E5'" onMouseOut="this.style.background='transparent'" style="float:left; border-radius:15px; background: transparent" type="submit" name="Finish" value="Finish">
        </form>    
        <form action="{% url 'home-page' %}">
            <button font-size=30px onMouseOver="this.style.background='#E8E4E5'" onMouseOut="this.style.background='transparent'" style="float:left; border-radius:15px; background: transparent" type="submit"> Cancel </button>
        </form>
    </div>
</div>


