<html>
<head>

</head>
<body>


<div>
    <h1> Case Number Detail</h1>
</div>

<div>
    <h2> {{message}} </h2>
</div>
<div>
    <table> 
        <tr>
                <th> Case Number </th>
                <th> Person Name </th>
                <th> Identity Document Number </th>
                <th> Date of Birth</th>
                <th> Date of Onset</th>
                <th> Date Case Confirmed </th>
            </tr>
            <tr>
                <td>{{caseNumber}}</td>
                <td>{{personName}}</td>
                <td>{{identityDocumentNumber}}</td>
                <td>{{birthDate}}</td>
                <td>{{symptomsOnsetDate}}</td>
                <td>{{infectionConfirmationDate}}</td>
            </tr>
    </table>

</div>

    <form action="{% url 'searchCaseNumber' %}" class='searchCaseNumber'>
        <input style="float: left" type='submit' value='Search Case Number'>
    </form>

    <form action="{% url 'home-page' %}" class='home-page'>
        <input type='submit' value='Home'>
    </form>

</body>
</html>