<html>

<head>
<style>
table,th, td {border:1px solid black; border-collapse: collapse;}
</style>
</head>
<body>

<div>
    <h1> Case Number Detail</h1>
</div>

<div>
    <h2> {{message}} </h2>
</div>

<h3 class='showInfo'>Showing details of CaseNumber {{caseNumber}} </h3>
<table >
    <tr>
        <th> Case Number </th>
        <th> Person Name </th>
        <th> Identity Document Number </th>
        <th> Date of Birth </th>
        <th> Date of Onset </th>
        <th> Date Case Confirmed </th>
    </tr>
    <tr>
        <td> {{caseNumber}} </td>
        <td> {{personName}} </td>
        <td> {{identityDocumentNumber}} </td>
        <td> {{birthDate}} </td>
        <td> {{symptomsOnsetDate}} </td>
        <td> {{infectionConfirmationDate}} </td>
    </tr>
</table>


{% if events == None %}
<div style="margin-top: 20px; font-size: 20px">{{message2}}</div>
{% else %}
<div style="margin-top: 20px"> 
        <table>
            <tr>
                <th> Venue Name </th>
                <th> Venue Location </th>
                <th> Address </th>
                <th> X Coord </th>
                <th> Y Coord </th>
                <th> Date of Event </th>
                <th> Description </th>
            </tr>
            {% for event in events %}
                <tr>
                    <td> {{event.caseEventVenueId.venueName}} </td>
                    <td> {{event.caseEventVenueId.venueLocation}} </td>
                    <td> {{event.caseEventVenueId.venueAddress}} </td>
                    <td> {{event.caseEventVenueId.venueXCoordinates}} </td>
                    <td> {{event.caseEventVenueId.venueYCoordinates}}</td>
                    <td> {{event.caseEventVenueId.eventDate}} </td>
                    <td> {{event.caseEventVenueId.eventDescriptipn}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

<div>
    <form action="{% url 'searchCaseNumber' %}" class='searchCaseNumber'>
        <input style="float: left" type='submit' value='Search Case Number'>
    </form>
        
    <form action="{% url 'home-page' %}" class='home-page'>
        <input type='submit' value='Home'>
    </form>
</div>


</body>
</html>