<html>

<head>
<style>
.button {font-size: 30px; margin-bottom: 20px; border-radius:25px; background-color: rgb(231, 231, 231); border-color: rgb(55, 55, 61);}
</style>
</head>

<body>
    <img src="https://drive.google.com/uc?export=view&id=1FrIT_PAYstpBZ_XyupytyYuU2IV7UKiY" alt="SSEFinder logo" width="100%" height="250">
    <div style="text-align: center">
        <div style="margin-top: 50px">  
            <form action="{% url 'addNewCase-page' %}" class='addNewCase' method="GET">
                <input onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="button" type='submit' value='Add New Case'>
            </form>
            <form action="{% url 'searchCaseNumber' %}" class='searchCaseNumber'>
                <input onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="button" type='submit' value='Search Case Number'>
            </form>
            <form action="{% url 'searchEvent' %}" class='searchEvent'>
                <input onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="button" type='submit' value='Search Event'>
            </form>
            <form action="{% url 'login-page' %}" class='login-page'>
                <input style="float: right" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='black'" class="button" type='submit' value='Logout'>
            </form>
        </div>
    </div>
</body>
</html>
