<img src="https://drive.google.com/uc?export=view&id=1FrIT_PAYstpBZ_XyupytyYuU2IV7UKiY" alt="SSEFinder logo" width="100%" height="250">

<h1 style="text-align: center">Login</h1>

<div style="text-align: center"> 
    <p> {{message}}</p>
</div>
<div style="text-align: center">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button onMouseOver="this.style.background='#F2C4CE'" onMouseOut="this.style.background='transparent'" type="submit">Login</button>
    </form>
    <form action="{% url 'createAccount-page' %}">
        <button onMouseOver="this.style.background='#F2C4CE'" onMouseOut="this.style.background='transparent'" type="submit"> Create Account </button>
    </form>
</div>
