<html>
<head>

</head>
<body>
    <form action=" " method='POST' class='case_number'>
        {% csrf_token %}
        <label for='caseNumber'>Please select a case number:</label>
        <select id="caseNumber" name="case_number">
            {% for a in allInfo %}
            <option value="{{a.caseNumber}}">{{a.caseNumber}}</option>
            {% endfor %}
        </select>
        <input type='submit' name='ViewDetails' value='View Details'>
        <input type='submit' name='AddEvent' value='Add Event'>
    </form>
</body>
</html>