<head>
<style>
.search_event{
    position: absolute;
    top: 50%;
    left: 33%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
</style>
</head>

<body>
<img src="https://drive.google.com/uc?export=view&id=1FrIT_PAYstpBZ_XyupytyYuU2IV7UKiY" alt="SSEFinder logo" width="100%" height="250">
<div class='search_event'>
    <h1>Search Event</h1>

    <form  method="GET" action="{% url 'eventDetail' %}">
      <input type="date" id="startdate" name="startdate">
      <input type="date" id="enddate" name="enddate">
      <input type="submit" value="Search Event">
    </form>
</div> 
</body>
